@import "bourbon";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Orelega One', cursive;
}



h2{
    margin:5px 0 15px 0 ;
}


/* RECOMENDADOS  INDEX */



